@import '~app/style/style';

.page-content {
  background: $background-page-gradient;
}

.white-box {
  margin-top: 13vh;
}

.logo {
  position: absolute;
  max-height: 15vh;
  left: 50%;
  transform: translate(-50%);
  //width: 35vw;
  top: 10px;
}
